/* 
-----------------------------------------------
    COLORS
-----------------------------------------------
*/

:root {
    --primary-color: #008058;
    --secondary-color: #080808;
    --gray-background: #b9b9b9;
}


/* 
-----------------------------------------------
    RESET BROWSER STYLE
-----------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
}


/* 
-----------------------------------------------
    GRID / LAYOUT
-----------------------------------------------
*/

.container {
    width: 100%;
    max-width: 1590px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}

.content-container {
    max-width: 995px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}

.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 105px;
}

p+p {
    margin-top: 40px;
}


/* 
-----------------------------------------------
    REPEATABLE ELEMENTS
-----------------------------------------------
*/

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 100px;
    transform: rotate(270deg) translate(0, -50%);
    position: absolute;
    top: 40%;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.6;
    left: 3%;
}


/* 
-----------------------------------------------
    HEADER
-----------------------------------------------
*/

.banner {
    background-color: var(--primary-color);
    padding: 15px 0;
    text-align: center;
    color: #FFF;
    border-bottom: 1px solid #FFF;
}

.banner .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    color: #FFF;
    background-color: var(--secondary-color);
    border-bottom: 1px solid #FFF;
}

.header-inner {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr;
}

nav#site-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav#site-navigation ul li {
    display: inline-flex;
    height: 100%;
    align-items: center;
}

#social-media {
    list-style: none;
}

#social-media li {
    display: inline-block;
}

.logo-wrapper {
    border-right: 1px solid #FFF;
    background-color: var(--secondary-color);
    grid-row-start: 1;
    grid-row-end: 3;
}

.logo-wrapper>a {
    display: flex;
    align-items: center;
    width: 95px;
    justify-content: center;
    height: 124px;
}

.logo-wrapper img {
    /* max-width: 50px; */
    height: calc(100% - 56px);
}

nav#site-navigation {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    /* height: 72px; */
}

nav#site-navigation ul#primary-menu li a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 15px 0 30px;
}

nav#site-navigation ul#social-media {
    display: inline-block;
}


/* Search */

#search-wrapper {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-left: 15px;
}

#search-wrapper .screen-reader-text {
    display: none;
}

#search-wrapper input[type="submit"] {
    display: none;
}

#search-wrapper input[type="search"] {
    background-color: transparent;
    border: 0;
    background-image: none;
    box-shadow: none;
    outline: none;
    height: 100%;
    color: #000;
    text-align: right;
    font-size: 20px;
    max-width: 130px;
    width: 100%;
    transition: 0.3s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}

#search-wrapper input[type="search"]:focus {
    max-width: 172px;
    background-color: var(--gray-background);
}

#search-wrapper input[type="search"]::-webkit-input-placeholder {
    /* Edge */
    color: #FFF;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

#search-wrapper input[type="search"]:focus::-webkit-input-placeholder {
    color: #000;
}

#search-wrapper input[type="search"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFF;
    text-transform: uppercase;
}

#search-wrapper input[type="search"]:focus:-ms-input-placeholder {
    color: #000;
}

#search-wrapper input[type="search"]::placeholder {
    color: #FFF;
    text-transform: uppercase;
}

#search-wrapper input[type="search"]:focus::placeholder {
    color: #000;
}

#search-wrapper form.search-form {
    height: 100%;
}


/* Social Media */

.social-media-search .widget-area.widget-area {
    display: inline-block;
    height: 100%;
}

.social-media-search .widget-area.widget-area>div,
.social-media-search .widget-area.widget-area>div>div {
    height: 100%;
}

.social-media-search li a {
    display: inline-block;
    text-indent: 9999px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    overflow: hidden;
}

.social-media-search li:not(:last-of-type) {
    margin-right: 10px;
}

#menu-social-media li.instagram {
    background-image: url(/yac//wp-content/themes/ocd-yac/assets/images/instagram-icon.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

#menu-social-media li.facebook {
    background-image: url(/yac//wp-content/themes/ocd-yac/assets/images/facebook-icon.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

#menu-social-media li.youtube {
    background-image: url(/yac//wp-content/themes/ocd-yac/assets/images/youtube-icon.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}


/* 
-----------------------------------------------
    FOOTER
-----------------------------------------------
*/


/* 
-----------------------------------------------
    SECTION: BLOGS
-----------------------------------------------
*/

.blog-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 15px;
}

section.blogs-section {
    background: var(--gray-background);
    padding: 35px 0 65px 0;
    color: #FFF;
}

section.blogs-section h3 {
    background-color: var(--secondary-color);
    color: #FFF;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    font-style: italic;
    letter-spacing: 2px;
}

section.blogs-section h4 {
    font-size: 30px;
}

.blog-item {
    border: 1px solid #8b8b8b;
    width: 100%;
    /* height:  100%; */
    position: relative;
}

.blog-item .bg-image {
    height: 100%;
    width: 100%;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% auto;
    background-position: center center;
}

.blog-item .bg-image:before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: 2;
    opacity: 0.6;
    pointer-events: none;
}

.blog-item .overlay-content {
    padding: 15px 15px;
    position: absolute;
    bottom: 15px;
    z-index: 2;
    width: 100%;
}

.blog-item .overlay-link {
    display: block;
    height: 100%;
    position: relative;
    z-index: 10;
}

.blog-item time {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
}

.blog-title-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.blog-item hr {
    border: 0;
    border-bottom: 1px solid #FFF;
    flex: auto;
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.7;
}

.date-author {
    position: relative;
}

.blog-item span.author {
    display: block;
    position: absolute;
    padding-left: 2px;
    font-size: 13px;
    text-align: center;
    width: 100%;
}

.blog-item p {
    font-size: 12px;
    max-width: 60%;
    opacity: 0.8;
}

.blog-items {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    height: 100%;
}

.blog-item .blog-categories {
    margin-bottom: 10px;
}

.blog-item .blog-categories span {
    color: #FFF;
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 3px 5px;
    font-size: 11px;
}

.all-blog-items {
    position: relative;
}

.blog-featured {
    position: absolute;
    z-index: 25;
    left: 0;
    top: 0;
    width: 100%;
}

.blog-items .blog-item:first-child {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 62px;
    position: relative;
    overflow: hidden;
}

.blog-items .blog-item:not(:first-child) .date-author {
    position: absolute;
    bottom: 14px;
    width: 100%;
    display: flex;
    left: 0;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.blog-items .blog-item:not(:first-child) h4 {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.3s ease-in-out;
}

.blog-items .blog-item:not(:first-child) hr {
    display: none;
}

.blog-items .blog-item:not(:first-child) .bg-image {
    background-size: cover;
}

.blog-items .blog-item:not(:first-child) .overlay-content {
    height: 100%;
    top: 0;
    padding: 0;
}

.blog-items .blog-item:not(:first-child) .blog-categories {
    position: absolute;
    top: 7px;
    right: 7px;
}

.blog-items .blog-item:not(:first-child) h4 {
    position: absolute;
    /* bottom: 30px; */
    transition: 0.3s ease-in-out;
    top: 70%;
}

.blog-items .blog-item:not(:first-child) p {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
    max-width: 100%;
    font-size: 14px;
}

.blog-items .blog-item:not(:first-child) time {
    font-size: 12px;
    display: flex;
    order: 2;
}

.blog-items .blog-item:not(:first-child) span.author {
    flex: 1;
    display: flex;
    position: static;
    transition: 0.3s ease-in-out;
}

.blog-items .blog-item:not(:first-child) .bg-image {
    transition: 0.3s ease-in-out;
}


/* Small Blog Items Hover */

.blog-items .blog-item:not(:first-child):hover h4 {
    position: absolute;
    top: 11px;
    left: 0;
    font-size: 12px;
    opacity: 0.5;
}

.blog-items .blog-item:not(:first-child):hover p {
    opacity: 1;
}

.blog-items .blog-item:not(:first-child):hover .bg-image {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.blog-items .blog-item:not(:first-child):hover .date-author {
    opacity: 0.5;
}

a.article-btn {
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    color: #FFF;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    margin-top: 18px;
}

.newest-articles .blog-item {
    height: auto;
    border: 0;
    border-bottom: 3px solid var(--gray-background);
}

.newest-articles .blog-item a {
    background-color: #FFF;
    color: #000;
    padding: 25px 30px;
}

.newest-articles .blog-title-wrapper {
    display: block;
}

.newest-articles .blog-item p {
    max-width: 100%;
    font-size: 15px;
}

section.blogs-section .newest-articles h4 {
    color: var(--primary-color);
    font-size: 22px;
    margin-bottom: 5px;
}

.newest-articles .blog-item span.author {
    display: inline-block;
    position: relative;
    padding-left: 0;
    font-size: 13px;
    text-align: right;
    width: auto;
}

.newest-articles .date-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.newest-articles .blog-item time {
    opacity: 0.6;
    font-size: 14px;
    font-weight: normal;
}


/* 
-----------------------------------------------
    SECTION: Who Are We
-----------------------------------------------
*/

section.about-section {
    background-color: var(--primary-color);
    padding-top: 100px;
    padding-bottom: 125px;
}

section.about-section h2 {
    transform: none;
    text-align: center;
    position: relative;
    opacity: 1;
    top: 0;
    color: #a3bdb5;
    margin-bottom: 90px;
    left: 0;
}

section.about-section p {
    color: #d4e9e3;
}

section.about-section iframe {
    min-height: 320px;
}


/* 
-----------------------------------------------
    SECTION: Events Timeline
-----------------------------------------------
*/

section.event-section {
    padding-bottom: 100px;
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 150px;
}

.timeline-item a.btn {
    color: #FFF;
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-weight: bold;
}

.timeline-item .event-image {
    width: 25%;
    margin-top: 16px;
    overflow: hidden;
    position: relative;
    min-height: 130px;
    border-top: 1px solid #000;
}

.timeline-item .event-image img {
    max-width: 100%;
    margin-top: 10px;
    padding: 0 20px;
}

.timeline-item .event-info h4 {
    font-size: 28px;
}

.timeline-item .event-date-location {
    width: 10%;
    text-align: right;
    position: relative;
}

.timeline-item .event-date-location:after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    right: -38px;
    top: 6px;
}

.timeline-item .event-category {
    font-style: italic;
    padding-top: 8px;
}

.timeline .timeline-item:not(:first-child) .event-info p {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.timeline .timeline-item:not(:first-child):hover .event-info p {
    max-height: 100%;
}

.timeline-item .event-image hr {
    border: 0;
    border-bottom: 1px solid #000;
}

.timeline .timeline-item:not(:first-child) .event-image img {
    overflow: hidden;
    transition: 0.3s ease-in-out;
    position: absolute;
    max-width: 248px;
    top: -150%;
}

.timeline .timeline-item:not(:first-child):hover .event-image img {
    top: 0px;
}

.timeline-line {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: black;
    left: 14%;
    top: 0;
}

a.see-all-events {
    position: absolute;
    bottom: 0;
    width: 200px;
    left: 50%;
    background-color: var(--primary-color);
    color: #FFF;
    padding: 20px;
    transform: translate(-50%, 0);
    text-align: center;
}

.event-info p {
    max-width: 100%;
}

.event-info {
    width: 25%;
}

.timeline-year {
    font-style: italic;
    font-size: 30px;
    color: var(--gray-background);
    font-weight: bold;
    padding-top: 50px;
    width: 10%;
    text-align: right;
}

.date {
    font-size: 24px;
}

.event-cta {
    padding-top: 3px;
}